

/*
	Reference Styling for Efficient embedded videos
*/
.videos-list {
  margin: 1.3em 0;
  padding: 0;
  display: flex;
  .videos-preview {
    display: flex;
    width: 33%;
    padding: 1%;
    list-style-type: none;
    box-sizing: border-box;
    iframe {
      border: none;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    a, span {
      background-color: #000;
      flex: 0 1 auto;
      display: block;
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
    }
    a {
      img {
        width: 100%;
        height: auto;
        position: absolute;
      }
      &:after {
        background-image: url(../img/play-button.svg);
        background-size: 64px auto;
        background-repeat: no-repeat;
        background-position: 50%;
        content: '';
        display: block;
        width: 64px;
        height: 64px;
        margin-left: -32px;
        margin-top: -32px;
        cursor: pointer;
        outline: 0;
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }
  }
}
